body {
  margin: 0;
}
.header > table > tbody > tr > td > a {
  background-color: aliceblue;
  color: black;
  padding: 15px 32px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  transition-duration: 0.4s;
  outline: none;
}

.header > table > tbody > tr > td > a:hover {
  background-color: aliceblue;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aliceblue;
}
.header > table > tbody > tr > td {
  text-align: center;
}

.header > table {
  width: 100%;
}
.ptitle {
  font-weight: 600;
  text-align: center;
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: turquoise;
  text-shadow: 1px 2px lightblue;
}

.psubtitle {
  text-align: center;
  font-size: 25px;
  margin: 0;
}
.title > table {
  margin-top: 30px;
  border-spacing: 10px 10px;
  width: 100%;
}

.card > table {
  border-radius: 10px;
  box-shadow: 1px 1px 2px lightgray;
  border-spacing: 20px 10px;
  width: 100%;
}

.card > table > tbody > tr > td > img {
  width: 75px;
  height: 75px;
}

.card > table > tbody > tr > td {
  text-align: center;
}

.features > table {
  width: 100%;
  border-spacing: 10px 10px;
}

.features > table > tbody > tr > td {
  padding: 20px;
}

.features {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
}

.cardText {
  width: 200px;
}

.cardTitle {
  font-size: 30px;
  margin: 0;
  color: #0066cc;
}

.cardText > p {
  font-size: 20px;
}

.grid-item {
  display: inline-block;
  width: max;
}

.draggable {
  cursor: move;
}

.draggable.dragging {
  opacity: 1;
}
.append {
  box-sizing: border-box;
  border: 3px dotted black;
}

.swap {
  box-sizing: border-box;
  border: 3px dotted black;
}

#schedule {
  /* margin: 10px; */
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 20px;
}

textarea {
  /* width: inherit;
  height: inherit; */
  border-radius: 10px;
  font-size: 15px;
  resize: none;
  padding: 0;
  border: none;
}

#schedule2 {
  /* margin: 10px; */
  background-color: rgba(0, 255, 0, 0.4);
  border-radius: 20px;
}

#txtSchedule {
  margin: 20px;
  font-size: 15px;
}

#items,
#items2,
#items3,
#items4,
#items5,
#items6,
#items7,
#items8,
#items9 {
  float: left;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 10px;
}

.exampleTitle {
  width: 100%;
  margin-top: 90px;
  text-align: center;
  margin-bottom: 20px;
}
.exampleTitle > p {
  color: black;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

#yy {
  width: 10px;
  height: 100px;
  float: left;
}

.example1 {
  text-align: center;
  height: max-content;
  margin-bottom: 400px;
}

.example2 {
  margin-left: 100px;
  float: left;
  width: max-content;
}

.example1 > p {
  margin: 0;
  text-align: center;
  font-size: 30px;
}

#items {
  margin-left: calc(60vw / 2);
}

.example2 > p {
  margin: 0;
  text-align: center;
  font-size: 30px;
}

.example3 {
  margin-right: 100px;
  float: right;
}

.example3 > p {
  margin-top: 0;
  margin-right: 0;
  text-align: left;
  font-size: 30px;
}

.example3 > table {
  border-spacing: 20px 5px;
}
.footer {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  background-color: aliceblue;
  float: right;
}

.addButton {
  background-color: lightblue;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  margin: 0;
  display: block;
  border: none;
  outline: none;
}

.mainDoc {
  margin-top: 80px;
  margin-left: 50px;
  width: 85%;
}

.highlight1 {
  width: max-content;
  height: 23px;
  border-radius: 10px;
}

.ul1 > li {
  font-size: 18px;
  margin-bottom: 10px;
}
/* 
.hljs {
  overflow-x: auto;
  overflow-y: auto;
} */

.ul1 > li > ul > li {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mainDoc > h1 {
  margin: 20px;
  color: blue;
  font-size: 40px;
}

.required_params {
  width: 100%;
}

.required_params > tbody > tr {
  text-align: left;
}

.required_params > tbody > tr > th {
  text-align: left;
  font-size: 23px;
}
.mainDoc > h4 {
  font-style: italic;
  font-weight: 100;
  margin-top: 3px;
  margin-bottom: 20px;
}
.mainDoc > h2 {
  margin: 3px;
  padding: 0;
}
.required_params > tbody > tr > td {
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 18px;
  text-align: left;
  border-bottom: solid 1px lightblue;
}

.required_params > tbody > tr > td:nth-child(4) {
  width: 50%;
}

.required_params > tbody > tr > td:nth-child(-n + 3) {
  width: 16%;
}

.optional_params > tbody > tr > td {
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 18px;
  text-align: left;
  border-bottom: solid 1px lightblue;
}

.optional_params > tbody > tr > td:nth-child(4) {
  width: 50%;
}

.optional_params > tbody > tr > td:nth-child(-n + 3) {
  width: 16%;
}

.optional_params {
  width: 100%;
}

.optional_params > tbody > tr {
  text-align: left;
}

.optional_params > tbody > tr > th {
  text-align: left;
  font-size: 23px;
}

.addSpacing {
  margin: 50px;
}

.methods > tbody > tr > td {
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 18px;
  text-align: left;
  border-bottom: solid 1px lightblue;
}

.methods > tbody > tr > td:nth-child(4) {
  width: 50%;
}

.methods > tbody > tr > td:nth-child(-n + 3) {
  width: 16%;
}

.methods {
  width: 100%;
}

.methods > tbody > tr {
  text-align: left;
}

.methods > tbody > tr > th {
  text-align: left;
  font-size: 23px;
}

.API_example > tbody > tr > td {
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 18px;
  text-align: left;
  border-bottom: solid 1px lightblue;
}

.API_example > tbody > tr > td:nth-child(2) {
  width: 60%;
}

.API_example > tbody > tr > td:nth-child(-n + 1) {
  width: 40%;
}

.API_example {
  width: 100%;
}

.API_example > tbody > tr {
  text-align: left;
}

.API_example > tbody > tr > th {
  text-align: left;
  font-size: 23px;
}

.snippet1 {
  height: fit-content;
  border-radius: 10px;
}
